<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Formulaire d'inscription/prof</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>

<body>
    <div class="container w-50 my-2 border border-dark rounded">
        <!-- <h2 class="text-uppercase text-primary text-center my-3" style="font-family: 'Times New Roman', Times, serif;">Formulaire d'inscription</h2> -->
        <div class="container-fluid mx-n3 mb-3 p-3 bg-dark text-white w-75">
            <h1>Formulaire d'inscription</h1>
            <p>Inscrivez vous parmis les meilleurs.</p>
        </div>
        <form method="POST" action="http://127.0.0.1:5000/prof" enctype="multipart/form-data" class="mb-2 px-3">
            <div class="form-group"><label>Genre</label>
                <div class="custom-control custom-radio">
                    <input type="radio" name="sexe" value="Femme" class="" required=True><label>Femme</label><br>
                    <input type="radio" name="sexe" value="Homme" class=""><label>Homme</label></div>
            </div>
            <div class="row">
                <div class="col"><label>Nom</label><input type="text" name="nom" class="form-control" placeholder="Votre nom" required=True/></div>
                <div class="col"><label>Prenom(s)</label><input type="text" class="form-control" name="prenom" placeholder="Votre prénom" required=True/><br></div>
            </div>
            <div class="row">
                <div class="col"><label>Email</label><input type="email" name="email" class="form-control" placeholder="name@example.com" required=True/></div>
                <div class="col"><label>Téléphone</label><input type="tel" name="telephone" class="form-control" size="10" placeholder="03********" required=True/><br></div>
            </div>
            <div class="row">
                <div class="col"><label>Votre adresse</label><input type="text" name="address" class="form-control" placeholder="adresse"></div>
                <div class="col"><label>Votre âge</label><input type="number" name="age" class="form-control" size="2" required=True placeholder="âge"><br></div>
            </div>
            <div class="form-group">
                <label>Vous êtes professeur de :</label>
                <div class="module ml-5 row">
                    <div class="form-check col-lg-6">
                        <div class="form-group">
                            <p class="font-weight-bold">Mathématiques</p>
                            <input type="checkbox" name="module" class="form-check-input" value="Analyse et Algebre">
                            <label>Analyse et Algebre</label><br>

                            <input type="checkbox" name="module" class="form-check-input" value="Recherche Opérationnelle">
                            <label>Recherche Opérationnelle</label><br>

                            <input type="checkbox" name="module" class="form-check-input" value="Calcule Numérique">
                            <label>Calcule Numérique</label><br>
                        </div>
                        <div class="form-group">
                            <p class="font-weight-bold">Informatique et programmation</p>
                            <input type="checkbox" name="module" class="form-check-input" value="Language C">
                            <label>Language C</label><br>

                            <input type="checkbox" name="module" class="form-check-input" value="Bases de données">
                            <label>Bases de données</label><br>

                            <input type="checkbox" name="module" class="form-check-input" value="Algorithmes fondamentaux">
                            <label>Algorithmes fondamentaux</label><br>

                            <input type="checkbox" name="module" class="form-check-input" value="Web statique">
                            <label>Web statique</label><br>
                        </div>
                        <div class="form-group">
                            <p class="font-weight-bold">Communications</p>
                            <input type="checkbox" name="module" class="form-check-input" value="Français">
                            <label>Français</label><br>

                            <input type="checkbox" name="module" class="form-check-input" value="Anglais">
                            <label>Anglais</label><br>
                        </div>
                    </div>
                    <div class="form-group form-check col-lg-6">
                        <div class="form-group">
                            <p class="font-weight-bold">Entreprises</p>
                            <input type="checkbox" name="module" class="form-check-input" value="Fonctionnement des organisations">
                            <label>Fonctionnement des organisations</label><br>

                            <input type="checkbox" name="module" class="form-check-input" value="Devenir Manager">
                            <label>Devenir Manager</label><br>

                            <input type="checkbox" name="module" class="form-check-input" value="Leadership">
                            <label>Leadership</label><br>
                        </div>
                        <div class="form-group">
                            <p class="font-weight-bold">Système et réseau</p>
                            <input type="checkbox" name="module" class="form-check-input" value="Architecture des ordinateurs">
                            <label>Architecture des ordinateurs</label><br>

                            <input type="checkbox" name="module" class="form-check-input" value="Système informatique">
                            <label>Système informatique</label><br>

                            <input type="checkbox" name="module" class="form-check-input" value="Réseaux">
                            <label>Réseaux</label><br>

                            <input type="checkbox" name="module" class="form-check-input" value="Maintenance logicielle">
                            <label>Maintenance logicielle</label><br>

                            <input type="checkbox" name="module" class="form-check-input" value="Maintenance matérielle">
                            <label>Maintenance matérielle</label><br>
                        </div>
                    </div>
                </div>
            </div>

            <label>Insérez votre photo:</label>
            <div class="custom-file mb-3">
                <input type="file" name="photo" required=True class="custom-file-input">
                <label class="custom-file-label">Importer votre photo</label>
            </div>
            <button type="submit" class="btn btn-primary mb-1">Envoyer</button>
        </form>
    </div>
</body>

</html>